<%- model_class = Map -%>

<p>
  *Maps#show - This is an individual Map show page. It acts as an index of the Areas that belong to this Map instance.
  <br><br>
  *Go ahead and add or edit a shape! - Need to change colors by status and be able to click through the area!!!
  
</p>

<h1 style="text-align:center;"><%= @map.name %></h1>

<div id='map' style="height:500px;"></div>


<script>
	//A Leaflet map has one CRS (and one CRS only), that can be changed when creating the map. 
	//In a CRS.Simple, one horizontal map unit is mapped to one horizontal pixel, 

	var map = L.map('map', {
		crs: L.CRS.Simple,
		minZoom: -3
	});

	//If working with [y, x] coordinates with something named L.LatLng doesn’t make much sense to you, 
	//you can easily create wrappers for them:
	var yx = L.latLng;

	var xy = function(x, y) {
		if (L.Util.isArray(x)) {    // When doing xy([x, y]);
			return yx(x[1], x[0]);
		}
		return yx(y, x);  // When doing xy(x, y);
	};
	//Now we can add a few stars and even a navigation line with [x, y] coordinates! (Shown down the page a bit)

	//Then we can just add a L.ImageOverlay with the starmap image and its approximate bounds:

	var bounds = [xy(0,0), xy(<%= @image.width %>,<%= @image.height %>)];

	var image = L.imageOverlay('<%= @image.image_url %>', bounds).addTo(map);
	
	//map.setView(xy(120, 70), 1);
    map.fitBounds(bounds);

    var popup = L.popup();
    
    <% @areas.each do |area| %>
        var <%= 's' + area.name.gsub(/\W\s?/, "") %> = <%= area.coords.html_safe %>;
        
        L.geoJson(<%= 's' + area.name.gsub(/\W\s?/, "") %>).addTo(map).bindPopup('<h3><%= link_to area.name, area_path(area) %></h3><p><%= area.info %><br><%= link_to "More Info...", area_path(area) %></p>').setStyle(<% if area.status == 'Leased' %>{fillColor: '#00dd00', color: '#00dd00', weight: 1}<% else %>{fillColor: '#dd0000', color: '#dd0000', weight: 1}<% end %>);
    <% end %>
</script>



<br style="clear:both;">


<div class="page-header">
  <h1>Areas</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:map_id) %></th>
      <th><%= model_class.human_attribute_name(:info) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <!--<th><%#= model_class.human_attribute_name(:coords) %></th>-->
      <!--<th><%#= model_class.human_attribute_name(:created_at) %></th>-->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= link_to area.id, area_path(area) %></td>
        <td><%= link_to area.name, area_path(area) %></td>
        <td><%= area.map_id %></td>
        <td style="max-width:40%;"><%= area.info %></td>
        <td><%= area.status %></td>
        <!--<td><%#= area.coords %></td>-->
        <!--<td><%#=l area.created_at %></td>-->
        <td style="min-width:180px;">
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      area_path(area), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_area_path(area), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      area_path(area),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Area =>',
            new_area_path(:map_id => @map),
            :class => 'btn btn-primary' %>
            
            <br><br><br>
            
            
<hr style="clear:both;">

<div style="width:100%;text-align:center;">
<%= link_to '<= Back to maps',
              maps_path, :class => 'btn btn-default'  %>
<%= link_to 'Edit Map =>',
              edit_map_path(@map), :class => 'btn btn-primary' %>
<%= link_to 'Delete Map X',
              map_path(@map),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<hr style="clear:both;">
<br><br>

